<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/auth/register}" method="post">
  <div th:if="${error}" style="color: red;">
    <span th:text="${error}"></span>
  </div>
  <div th:if="${success}" style="color: green;">
    <span th:text="${success}"></span>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="customer">Customer</label>
    <input type="radio" id="customer" name="role" value="customer" required>
  </div>
  <div>
    <label for="company">Company</label>
    <input type="radio" id="company" name="role" value="company" required>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
</body>
</html>
