<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<div layout:fragment="content">

  <div th:insert="~{d_navbar :: d_nav}"></div><br><br><br><br><br><br><br><br>

  <div th:if="${changes == 'name'}">
    <form th:action="@{/customer/customerSettings}" method="post" class="card-text">
      <input type="hidden" name="changes" value="name">
      <label for="firstName">Neuer Vorname:</label>
      <input type="text" id="firstName" name="firstName" required>
      <label for="lastName">Neuer Nachname:</label>
      <input type="text" id="lastName" name="lastName" required>
      <button type="submit">Register</button>
    </form>
  </div>

  <div th:if="${changes == 'doB'}">
    <form th:action="@{/customer/customerSettings}" method="post">
      <input type="hidden" name="changes" value="doB">
      <label for="doB">Geburtsdatum:</label>
      <input type="date" id="doB" name="doB" required>
      <button type="submit">Register</button>
    </form>
  </div>

  <div th:if="${changes == 'mail'}">
    <form th:action="@{/customer/customerSettings}" method="post" class="card-text">
      <input type="hidden" name="changes" value="mail">
      <label for="mail">Neue Mail:</label>
      <input type="text" id="mail" name="mail" required>
      <button type="submit">Register</button>
    </form>
  </div>

  <div th:if="${changes == 'newSkill'}">
    <form th:action="@{/customer/customerSettings}" method="post" class="card-text">
      <input type="hidden" name="changes" value="newSkill">

      <label for="skill">Skill auswählen:</label> <br>
        <select id="skill" name="skill">
          <option th:each="skill : ${T(de.thb.MACJEE.Entitys.Enumerations.Characteristics).values()}"
                  th:value="${skill}" th:text="${skill}"></option>
        </select>

      <label for="value">Ausprägung:</label>
      <input type="number" id="value" name="value" min="0" max="15" required>

      <label for="isHardSkill">Hardskill:</label>
      <input type="checkbox" id="isHardSkill" name="isHardSkill">

      <button type="submit">Register</button>
    </form>
  </div>

  <a th:href="@{'/customer/' + ${customer.id} + '/find-jobs'}">Find me a job</a> <br>
  <a th:href="@{/job/all}">All Open Jobs</a> <br>

  <div th:insert="~{contact :: _contact}"></div>
  <div th:insert="~{js_libraries :: libs}"></div>

</div>
</body>
</html>