<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
  <link th:href="@{lib/aos/aos.css}" rel="stylesheet">
  <link th:href="@{lib/magnific-popup/magnific-popup.css}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link th:href="@{/styles/style_2.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

  <div th:insert="~{d_navbar :: d_nav}"></div><br><br><br><br><br><br><br><br>

  <div class="profile">

    <h2 th:text="${customer.username}"></h2>

    <table style="width:100%;" class="mb-5">
      <thead>
        <tr>
          <th style="width:20%;"></th>
          <th style="width:60%;" scope="col"></th>
          <th style="width:20%;" cope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table_boarder">
          <th scope="row">Name:</th>
          <td><span th:text="${customer.lastName + ' ' + customer.firstName}"></span></td>
          <td><a th:href="@{/customer/customerSettings(changes='name')}" class="success">Change</a></td>
        </tr>
        <tr class="table_boarder">
          <th scope="row">Email: </th>
          <td><span th:text="${customer.mail}"></span></td>
          <td><a th:href="@{/customer/customerSettings(changes='mail')}" class="success">Change</a></td>
        </tr>
        <tr class="table_boarder">
          <th scope="row">Geburtstag:</th>
          <td><span th:text="${customer.doB}"></span></td>
          <td><a th:href="@{/customer/customerSettings(changes='doB')}" class="success">Change</a></td>
        </tr>
      </tbody>
    </table>


    <h2>Skills:</h2>

    <div th:each="skill : ${customer.skills}" class="skill_in_list">
      <span th:if="${skill.isHardSkill}" th:class="danger" style="color:#ff0000;">
        <span th:text="${skill.name}"></span> : <span th:text="${skill.level}"></span> <br>
      </span>

      <span th:if="${!skill.isHardSkill}" th:class="success" style="color:#00ff00;">
        <span th:text="${skill.name}"></span> : <span th:text="${skill.level}"></span> <br>
      </span>

      <!--<span th:text="${skill.isHardSkill}"></span>-->
    </div>


  <!--<ul>
    <li th:each="skill : ${customer.skills}">
      Name der Fähigkeit: <span th:text="${skill.name}"></span> <br>
      Selbsteinschätzung von 1-10: <span th:text="${skill.level}"></span> <br>
      Hardskill? <span th:text="${skill.isHardSkill}"></span>
    </li>
  </ul> <br>-->
  <a th:href="@{/customer/customerSettings(changes='newSkill')}"><button type="button">Skill hinzufügen</button></a> <br> <br>

  <h2>Applikations:</h2>
  <div th:each="_application : ${applications}" class="skill_in_list">
      Application: <span th:text="${_application.title}"></span>
  </div>


  <a th:href="@{'/customer/' + ${customer.id} + '/find-jobs'}">Find me a job</a> <br>
  <a th:href="@{/job/all}">All Open Jobs</a> <br>

  </div>

  <div th:insert="~{contact :: _contact}"></div>
  <div th:insert="~{js_libraries :: libs}"></div>

</div>
</body>
</html>