<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MACJEE Job Site</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{lib/aos/aos.css}" rel="stylesheet">
    <link th:href="@{lib/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/styles/style_2.css}" rel="stylesheet">

</head>
<body>

<div th:insert="~{d_navbar :: d_nav}"></div>

<br><br><br><br><br><br><br><br>
<!--<div layout:fragment="content">
    Congrats! You have accessed the Application view of MACJEE
    Angemeldet als <span sec:authentication="name"></span><br>
-->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center text-lg-left">
                <h3 class="cta-title">Werde Aktiv</h3>
                <p sec:authorize="hasAuthority('ROLE_CUSTOMER')" class="cta-text"> Finde den perfekten Job, der zu dir passt.</p>
                <p sec:authorize="hasAuthority('ROLE_COMPANY')" class="cta-text"> Veröffentliche einen Job um den perfekten Mitarbeiter zu finden</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a sec:authorize="hasAuthority('ROLE_CUSTOMER')" class="cta-btn align-middle" th:href="@{/login}">Los geht`s</a>
                <a sec:authorize="hasAuthority('ROLE_COMPANY')" class="cta-btn align-middle" th:href="@{/login}">Los geht`s</a>
            </div>
        </div>
        <div>
            <p class="cta-text">Angemeldet als:
                <span sec:authorize="hasRole('ROLE_CUSTOMER')">Kunde, der einen Job sucht</span>
                <span sec:authorize="hasRole('ROLE_COMPANY')">Firma, die Mitarbeiter sucht</span>
            </p>
        </div>

    </div>
</section><!-- #call-to-action -->

<br><br><br>

<div th:insert="~{contact :: _contact}"></div>
<div th:insert="~{js_libraries :: libs}"></div>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

</body>
</html>