<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="copy">
    <header id="header" class="bg-success">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">MACJEE</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#">Home</a></li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_CUSTOMER'')')}">
                        <a th:href="@{/user/customerProfile}">Profil</a>
                    </li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')}">
                        <a th:href="@{/user/companyProfile}">Profil</a>
                    </li>

                    <ul>
                        <li><a th:href="@{/auth/login}" class = "nav-link">Anmelden</a></li>
                        <li><a th:href="@{/auth/register}" class = "nav-link">Registrieren</a></li>
                        <li class="menu-has-children"><a href="#">Drop Down</a>
                            <ul>
                                <li><a th:href="@{/auth/login}" class = "nav-link">Anmelden</a></li>
                                <li><a th:href="@{/auth/register}" class = "nav-link">Registrieren</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    <li><a href="#logout">Auslogen</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
</div>

</body>
</html>