<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Company</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
  <link th:href="@{lib/aos/aos.css}" rel="stylesheet">
  <link th:href="@{lib/magnific-popup/magnific-popup.css}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link th:href="@{/styles/style_2.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

  <div th:insert="~{d_navbar :: d_nav}"></div><br><br><br><br><br><br><br><br>

  <div>



  </div>

  <br><br><br>






  <div th:insert="~{contact :: _contact}"></div>
  <div th:insert="~{js_libraries :: libs}"></div>

</div>
</body>