<!Doctype html>
<html lang="en"
      xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <!--<link href="../static/styles/style.css" type="text/css" rel="stylesheet">-->

  <title>
    MACJEE
  </title>

</head>

<body>

<div class="container top-bar">
  <div class="row">
    <div class="col-lg-4 my-lg-auto">
      <div class="d-grid d-md-flex justify-content-md-start">
        macjee@th-brandenburg.de
      </div>
    </div>
  </div>
</div>

<!-- Nav Bar -->
<div class="navbar bg-dark navbar-dark navbar-expand-lg sticky-top">
  <div class="container">
    <a href = "index.html" class="navbar-brand">
      <!--<img src = "img/logo.jpg" alt = "Logo" title = "Logo">-->
      MACJEE
    </a>

    <button class="navbar-toggler" type ="button" data-toggle ="collapse" data-target ="#navbarResponsive">
          <span class="navbar-toggler-icon">
          </span>
    </button>

    <div class="collapse navbar-collapse" id = "navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#about" class = "nav-link">About</a></li>
        <li class="nav-item"><a href="#leistungen" class = "nav-link">Leistungen</a></li>
        <li class="nav-item"><a href="#kontakt" class = "nav-link">Kontakt</a></li>
        <li class="nav-item"><a th:href="@{/login}" class = "nav-link">Log in</a></li>
        <li class="nav-item"><a th:href="@{/registration_zero}" class = "nav-link">Registrierung</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- Inage Carousel -->
<div id="carousel" class="carousel slide" data-ride = "carousel" data-interval="5000">

  <div class="carousel-inner ">

    <div class="carousel-item active">
      <img src="img/carousel/img_1.jpg" class="w-100">
      <div class="carousel-caption carousel-caption-2">
        <div class="container">
          <div class="row justify-content-end text-right">
            <div class ="col-8 bg-custom2 d-none d-md-block py-3 mx-0">
              <!--
              <div class="border-top border-success w-50 mx-auto my-3"></div>
              -->
              <h1 class="pb-3">MACJEE</h1>
              <div class="border-top border-light w-50 ml-auto my-3"></div>
              <h3 class="pb-3">Ihr Jobfinder</h3>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <img src="img/carousel/img_2.jpg" class="w-100">
      <div class="carousel-caption">
        <div class="container">
          <div class="row justify-content-start text-left">
            <div class ="col-4 bg-custom3 d-none d-md-block py-3 mx-0">
              <!--
              <div class="border-top border-success w-50 mx-auto my-3"></div>
              -->
              <h3 class="pb-3 text-dark">passende Jobs</h3>
              <div class="border-top border-dark w-50 mr-auto my-3"></div>
              <p class="lead">
                Finde den passen Job für dich!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="img/carousel/img_3.jpg" class="w-100">
      <div class="carousel-caption">
        <div class="container">
          <div class="row justify-content-center ">
            <div class =" bg-custom2 col-6 d-none d-md-block py-3 mx-0">
              <!--
              <div class="border-top border-success w-50 mx-auto my-3"></div>
              -->
              <h3 class="pb-3">tolle Unternehmen</h3>
              <div class="border-top border-light w-50 mx-auto my-3"></div>
              <p class="lead">
                Finde den perfekten Mitarbeiter
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href = "#carousel" class="carousel-control-prev" role = "button" data-slide="prev">
    <span class="fas fa-chevron-left fa-2x"></span>
  </a>

  <a href = "#carousel" class="carousel-control-next" role = "button" data-slide="next">
    <span class="fas fa-chevron-right fa-2x"></span>
  </a>


</div>

<div id="about">

  <h1>
    About
    <div class="border-top border-dark my-3 line_1"></div>
    <!--<div class="border-top border-success line_1"></div>-->
  </h1>
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum</br>
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  lorem ipsum lorem ipsum lorem ipsum lorem ipsum




  <div class = "container-fluid padding three_col margin_up">
    <div class = "row text-center">

      <div class = "col-md-4 three_col">
        <img src = "img/three_col/img_1.jpg" alt = "" class="w-100">
        <div class="">
          <h4 class ="my-4">Hallo</h4>
          <div class="border-top border-dark my-3 line_2"></div>
          <p>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          </p>
          <a href="#" class="btn btn-outline-success button_color btn-md">Click</a>
        </div>

      </div>

      <div class = "col-md-4 three_col">
        <img src = "img/three_col/img_2.jpg" alt = "" class="w-100">
        <div class="">
          <h4 class ="my-4">Hallo</h4>
          <div class="border-top border-dark my-3 line_2"></div>
          <p>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          </p>
          <a href="#" class="btn btn-outline-success button_color btn-md">Click</a>
        </div>

      </div>

      <div class = "col-md-4 three_col">
        <img src = "img/three_col/img_3.jpg" alt = "" class="w-100">
        <div class="">
          <h4 class ="my-4">Hallo</h4>
          <div class="border-top border-dark my-3 line_2"></div>
          <p>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          </p>
          <a href="#" class="btn btn-outline-success btn-md button_color">Click</a>
        </div>

      </div>
    </div>
  </div>


</div>


<div class="white_border">
  <div class="green_theme">
    <h1 >Lorem Ipsum</h1>
    <div class="border-top border-light my-3 line_2"></div>
    <p>
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    </p>
    <!--<a href="#" class="btn btn-outline-light btn-md" style="margin:1%;">Click</a>-->
    <button type="button" class="btn btn-outline-light button_complement btn-lg">Registrierung</button>
    <button type="button" class="btn btn-outline-light button_complement btn-lg">Log in</button>
  </div>
</div>


<div id ="leistungen">

  <hr style ="height:2px;border-width:0;color:var(--main_color);background-color:var(--main_color);margin-bottom:3%;">

  <h1>
    <p class="headerCenter">
      Leistungen
    </p>
    <div class="border-top border-dark my-3 line_1 margin-bottom-low"></div>
    <!--<div class="border-top border-success line_1"></div>-->
  </h1>

  <div id="_cards" class=" margin-bottom-low">
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-apartment"></i>
          <img src="img/9_col/1.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-apartment"></i>
            <div class="card-info-title">
              <h3>1</h3>
              <h4>Places to be apart. Wait, what?</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-unicorn"></i>
          <img src="img/9_col/2.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-unicorn"></i>
            <div class="card-info-title">
              <h3>2</h3>
              <h4>A single corn. Er, I mean horn.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-blender-phone"></i>
          <img src="img/9_col/3.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-blender-phone"></i>
            <div class="card-info-title">
              <h3>3</h3>
              <h4>These absolutely deserve to exist.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-person-to-portal"></i>
          <img src="img/9_col/4.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-person-to-portal"></i>
            <div class="card-info-title">
              <h3>4</h3>
              <h4>See you...</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-person-from-portal"></i>
          <img src="img/9_col/5.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-person-from-portal"></i>
            <div class="card-info-title">
              <h3>5</h3>
              <h4>...over here.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-duotone fa-otter"></i>
          <img src="img/9_col/6.jpg">
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-duotone fa-otter"></i>
            <div class="card-info-title">
              <h3>6</h3>
              <h4>Look at me, imma cute lil fella.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById("_cards").onmousemove = e => {
      for(const card of document.getElementsByClassName("card")) {
        const rect = card.getBoundingClientRect(),
                x = e.clientX - rect.left,
                y = e.clientY - rect.top;

        card.style.setProperty("--xPos", `${x}px`);
        card.style.setProperty("--yPos", `${y}px`);
      };
    }
  </script>

  <hr style ="height:2px;border-width:0;color:var(--main_color);background-color:var(--main_color);margin-top:6%;margin-bottom:12%;">
</div>


<div class="green_theme2">
  <h1 >Lorem Ipsum</h1>
  <div class="border-top border-light my-3 line_2"></div>
  <p>
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  </p>
  <a href="#" class="btn btn-outline-light btn-md" style="margin:1%;">Click</a>
</div>

<div id="kontakt">
  <footer class="padding_up">

    <div class = "container-fluid padding font_big">
      <div class = "row text-center">

        <div class = "col-md-4 footer_1">

          <a href="https://www.th-brandenburg.de/kontakt-anfahrt/" class="text-light">Kontakt</a>
          <hr class = "greyLine">
          <a href="https://www.th-brandenburg.de/1/impressum/" class="text-light">Impressum</a>
          <hr class = "greyLine">
          <a href="https://www.th-brandenburg.de/1/datenschutz/" class="text-light">Datenschutz</a>
          <hr class = "greyLine">
          </br>
          <p class="text-light">This website was build by Max Neubauer</br></br></p>

        </div>

        <div class = "col-md-4 footer_1">

          <a href="https://www.th-brandenburg.de/mitarbeiterliste/" class="text-light">Personen</a>
          <hr class = "greyLine">
          <a href="https://www.th-brandenburg.de/alumninetzwerk/" class="text-light">Alumninetzwerk</a>
          <hr class = "greyLine">
          <a href="https://www.th-brandenburg.de/stellenausschreibungen/" class="text-light">Stellenausschreibung</a>
          <hr class = "greyLine">
          <a href="https://meincampus.th-brandenburg.de/qisserver/pages/cs/sys/portal/hisinoneStartPage.faces" class="text-light">Campus Management</a>
          <hr class = "greyLine">
          <a href="https://it.th-brandenburg.de/zielgruppen/" class="text-light">IT Services</a>
          <hr class = "greyLine"></br></br>

        </div>

        <div class = "col-md-4 footer_1 text-light">
          <p>Postanschrift:</p>
          Postfach 2132</br>
          14737 Brandenburg an der Havel</br></br>
          <p>Kontakt:</p>
          T +49 3381 355-207</br>
          F +49 3381 355-199</br>
          maxneubaue@gmail.com</br>
        </div>

      </div>
    </div>


  </footer>


</div>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
<!--
<script src="./assets/js/script.js"></script>
-->

</body>

</html>
