<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Alle Jobs bei denen <span sec:authorize="hasRole('ROLE_CUSTOMER')" th:text="'DU DICH bewerben kannst'"/><span sec:authorize="hasRole('ROLE_COMPANY')" th:text="'Nutzer sich bewerben können'"/>!</h2>

    <div th:if="${success}" style="color: green;">
        <span th:text="${success}"></span>
    </div>
    <div th:if="${error}" style="color: red;">
        <span th:text="${error}"></span>
    </div>
    <ul>
        <li th:each="job: ${jobs}">

            Job Titel:<b><span th:text="${job.title}"></span></b>
            Gehalt: <b><span th:text="${job.salary}"></span>€/hr</b>
            Von der Firma: <b><span th:text="${job.company.companyName}"></span></b>.

            <ul>
                <li th:each="skill: ${job.requiredSkills}">
                    <span th:text="${skill.name}"/>: <span th:text="${skill.level}"/>/15 benötigt; <span th:if="${skill.isHardSkill()}" th:text="'Dieser Skill ist notwendig!'"/><span th:if="${!skill.isHardSkill()}" th:text="'Dieser Skill ist nicht zwingend notwendig.'"/>
                </li>
            </ul>
            <form th:action="@{/job/apply}" method="post" sec:authorize="hasRole('ROLE_CUSTOMER')">
                <input type="hidden" name="jobId" th:value="${job.id}"/>
                <button type="submit">bewerben</button>
            </form>
        </li>
    </ul>

</div>
</body>
</html>
